:root.dark {
  --border-btn: 1px solid rgb(220, 220, 220);
  --color-base-bg: rgb(18, 18, 18);
  --color-base-text: rgb(240, 240, 240);
  --color-btn-bg: rgb(36, 36, 36);
}

:root.light {
  --border-btn: 1px solid rgb(36, 36, 36);
  --color-base-bg: rgb(240, 240, 240);
  --color-base-text: rgb(18, 18, 18);
  --color-btn-bg: rgb(220, 220, 220);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: var(--color-base-bg);
  color: var(--color-base-text);
  padding: 20px 50px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__themeBtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
